.logo {
    position: absolute;
    top: 3%;
    left: 0;
    width: 300px;
    height: 70px;
  }
  nav {
    position: absolute;
    top: 5%;
    left: 81%;
    margin: 0 auto;
    width: 19%;

  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover,
  a.active{
    color: red;
  }
  label[for="Name"] {
    color:#ccc;
  }
  label[for="Email"] {
    color:#ccc;
  }
  label[for="Contact"] {
    color:#ccc;
  }
  label[for="subject"] {
    color:#ccc;
  }
  label[for="message"] {
    color:#ccc;
  }
  
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
#text {
    min-height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}
.text h1{
    color: black;

}
.text-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 33%;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.home{
 display: flex;
 align-items: center;
 padding: 0 9%;
 background-image: url(home.png);
 background-size: cover;

}
#home h1{
    font-family: "Akronim";
    font-size: 50px;
}
.home-content{
    max-width: 65rem;

}
h2, h1, span {
    margin: 0;
    color: white;
}

.about{
    display: flex;
    align-items: center;
    padding: 0 9%;
    background-image: url(about.jpg);
    background-size: contain;
   
}
.about h2{
    color: white;
    position: absolute;
    top: 145%;
    left: 5%;
}
.about h1{
    color: white;
    position: absolute;
    top: 205%;
    left: 27%;
    font-size: 50px;
}
.about p{
    color: white;
}
.about h1, .about p{
    margin: 10%;
}
.contact{
    display: flex;
    align-items: cover;
    /* padding: 0 9%; */
}
.sample {
    position: relative;
    min-height: 390px;
    overflow: hidden;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .background-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* .contact {
    display: flex;
    justify-content: cover;
    align-items: cover;
    height: 100vh;
  } */
  
  .contact {
    position: relative;
    min-height: 500px;
    overflow: hidden;
  }
  .sorry-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .sorry-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .contact h2 {
    position: absolute;
    font-family: "Audiowide", sans-serif;
    font-size: 70px;
    color: black;
    position: absolute;
    top: 333%;
    left: 33%;
    transform: translate(-50%, -50%); /* Centers the h2 element */
    z-index: 2; 
  }
  /* .footer {
    position: absolute;
    min-height: 0px;
    overflow: hidden;
  }
  footer {
    position: relative;
    top: 0%;
    float: right;

  } */
  .footer {
    position: absolute;
    top: 2805px;
    bottom: 0;
    right: 0;
    color: black; /* Change the text color to your preference */
    padding: 20px; /* Adjust padding as needed */
    z-index: 1; /* Bring the footer to the front */
}
